<!-- <ion-list>
  <ion-list-header>Please Select</ion-list-header>
  <ion-item>
    <ion-label>{{ page }}</ion-label>
    <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="selectedDropdown" (ionChange)="onChange()">
      <ion-select-option [value]="item" *ngFor="let item of dropdowns">
        {{ item }}
      </ion-select-option>
    </ion-select>
  </ion-item>
</ion-list> -->

<ion-item>
  <ion-label>Unit</ion-label>
  <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="selectedDropdown" (ionChange)="onChange()">
    <ion-select-option [value]="item" *ngFor="let item of dropdowns">
      {{ item }}
    </ion-select-option>
  </ion-select>
</ion-item>

<ion-row>
  <ion-col size="12">
    <ion-item>
      <ion-label position="floating">Enter a value, you want to convert.</ion-label>
      <ion-input type="number" clearInput value="clear me" [(ngModel)]="inputNumber" (ionChange)="onChange()">
      </ion-input>
    </ion-item>
  </ion-col>
</ion-row>

<ion-list *ngIf="results && results.length > 0">
  <ion-list-header><strong>Results:</strong></ion-list-header>
  <ion-item *ngFor="let item of results">
    <ion-col size="12">
      <ion-label>
        <strong>{{ item.key }}</strong>
        <ion-button size="small" color="light" class="icon-copy" (click)="copy(item.value)">
          <ion-icon name="copy"></ion-icon>
        </ion-button>
      </ion-label>
      <p class="no-margin">{{ item.value }}</p>
    </ion-col>
  </ion-item>
</ion-list>