<sc-back-button [page]="'Frequency'"></sc-back-button>

<ion-content>
  <sc-sankhya-content 
    [inputNumber]="inputNumber" 
    [selectedDropdown]="selectedDropdown"
    [dropdowns]="dropdowns" 
    [results]="results" 
    (change)="onChange($event)">
  </sc-sankhya-content>
</ion-content>
