<sc-back-button [page]="'Settings'"></sc-back-button>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let tile of tiles">
      <ion-label>{{ tile.name }}</ion-label>
      <ion-toggle [(ngModel)]="tile.selected"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>