<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Sankhya
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="large" [routerLink]="['/settings']">
        <ion-icon name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="4" *ngFor="let item of tiles" [routerLink]="[item.routerLink]">
      <ion-card class="tile">
        <i class="{{ item.icon }}" aria-hidden="true"></i>
        <ion-card-header>
          <ion-card-subtitle style="font-size: 10px;">{{ item.name }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>